html, body {
	
	height: 100%;
}

body {
	
	background-image: url(../sprites/brick.png);
	background-position: static;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	display: table;
	font-family: Verdana, Helvetica, sans-serif;
}

#title {
	
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

canvas {
	
	background-color: #6180b3;
	margin: 0;
	padding: 0;
}

.contentWrapper {
	
	position: relative;
	top: 50%;
	width: 20em;
	margin: auto;
	transform: translateY(-50%);
	display: table-caption;
}

.contentWrapper img {
	
	position: absolute;
	z-index: 1;
}

.content {
	
	box-shadow: 0 0 36px 36px #000;
	color: #fff;
	background-color: #000;
	opacity: .7;
	width: 15em;
	text-align: center;
}

table {
	
	width: 100%;
	padding-bottom: 2em;
}

.buttons {
	
	padding-bottom: 1em;
}

th, td {
	
	width: 50%;
	padding: 0 .1em;
}

th {
	
	text-align: right;
}

td {
	
	text-align: left;
}

.potato {
	
	right: -6em;
	top: -3em;
}

.eggplant {

	left: -5em;
	top: -1em;
}

.carrot {
	
	bottom: -10.5em;
	left: 2em;
}

.pepper {
	
	top: -5.5em;
	left: 4em;
}

.buttons a {
	
	background-color: #fff;
	padding: .5em 1em;
	margin: 0;
	text-decoration: none;
	font-weight: bold;
	color: #000;
}

#editor {
	
	width: 990px;
	height: 704px;
}

#editor #playground {
	
	box-shadow: 0 0 32px 32px #222;
	color: #fff;
	background-color: #222;
	margin: 32px;
	float: left;
	width: 640px;
	height: 640px;
}

#editor #items, #editor #bgItems {
	position: absolute;
	top: 32px;
	left: 32px;
	width: 640px;
	height: 640px;
}

#editor #nav {
	
	float: left;
}

#editor #options {
	
	font-size: 1.5em;
	color: #fff;
}

#editor #options input, #editor #options button {
	
	font-size: 0.8em;
	color: #fff;
	clear: both;
	width: 100%;
	background-color: #222;
	padding: 0.3em;
	text-align: center;
}

#editor #options input {
	
	width: 93%;
}

#editor #controls, #editor #options {
	
	box-shadow: 0 0 32px 32px #222;
	color: #fff;
	background-color: #222;
	margin: 32px;
	width: 220px;
	display: block;
	float: left;
	clear: both;
}

.selectionWrapper {
	
	width: 100%;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.selection {
	
	box-shadow: 0 0 32px 32px #222;
	color: #fff;
	background-color: #222;
	margin: 32px;
	width: 640px;
	display: block;
	margin: auto auto;
	clear: both;
	text-align: center;
}

#editor #controls div {
	
	display: inline;
}

#editor #controls img {

	margin: 5px;
}

.selection ul, .selection li {
	
	list-style: none;
	padding: 0;
	margin: 0;
	height: auto;
	overflow: hidden;
}

.selection li {
	
	margin: 4px;
}

.selection li a {
	
	background-color: #fff;
	padding: 16px;
	margin: 0;
	width: 100%;
	text-decoration: none;
	font-weight: bold;
	color: #000;
	display: block;
}

.selection li .canvasContainer {
	
	margin: 0;
	padding: 0;
	background-color: #fff;
	width: 96px;
	height: 96px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.backLink{
	
	padding: 16px;
	margin: 8px 4px;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	clear: both;
	background-color: #fff;
	color: #000;
	display: block;
}

.selection li canvas {
	
	width: 96px;
	max-height: 92px;
	margin: 0;
	padding: 0;
}

#gameSelection li {
	
	height: 160px;
}

#levelSelection {
	
	margin: 0;
}

#levelSelection li {
	
	float: left;
	margin: 0;
	padding: 0;
	width: 128px;
	text-align: center;
}

#levelSelection li a {
	
	margin: 4px;
	width: 96px;
	padding: 12px;
	display: block;
}

#btnHelp {

	position: absolute;
	cursor: pointer;
}

#help {
	width: 100%;
	height: 100%;
	position: relative;
	top: 0;
	left: 0;
}

#help .content {

	/* background-color: #6180b3;
    opacity: 1; */
    position: absolute;
    padding: 0 1.2em;
    width: 480px;
	border: 2px solid #000;
    box-sizing: border-box;
}

#help h1 {

	margin: .5em 0 .3em;
    text-align: center;
}

#help th, #help td {

    padding: .5em 1em;
    vertical-align: middle;
}

#help th {

	width: 70px;
    text-align: right;
}

#help td {

	width: 100%;
}