html, body {
	
	height: 100%;
}

body {
	
	background-image: url(../sprites/brick.png);
	background-position: static;
	margin: 0;
	padding: 0;
	display: table;
}

a {
	
	width: 100%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

canvas {
	
	background-color: #6600cc;
	margin: 0;
	padding: 0;
}